{% load staticfiles %}
{% block main_content %}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" style="color:#2d2d2d; font-size:24px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;"> Dear  {{firstname}} {{lastname}}</td>
    </tr>
     <tr>
        <td height="36"></td>
    </tr>
    <tr>
        <td align="center" >
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="68"></td>
                    <td align="center" style="color:#888888; font-size:14px; font-family:Arial, Helvetica, sans-serif; line-height:24px;">
                    We received a request to reset your  account password.
                    </td>
                    <td width="68"></td>
                </tr>
                <tr>
                    <td height="34"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" >
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="68"></td>
                    <td align="center" style="color:#888888; font-size:14px; font-family:Arial, Helvetica, sans-serif; line-height:24px;">
                         Please enter the following password reset code:
                    </td>
                    <td width="68"></td>
                </tr>
                <tr>
                    <td height="34"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr style="text-align:center">
                    <td width="200"></td>
                    {% for tok in token %}
                    <td style="color:#dd1a56; font-size:36px; font-weight:bold;">{{tok}}</td>
                    {% endfor %}
                    <td width="200"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" >
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="68"></td>
                    <td align="center" style="color:#888888; font-size:14px; font-family:Arial, Helvetica, sans-serif; line-height:24px;">
                         "If you did not make this request then you can safely ignore this email."
                    </td>
                    <td width="68"></td>
                </tr>
                <tr>
                    <td height="34"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}