{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block meta-title %}
<title>{% trans 'Woo Club Shoppable Video - Reset Password' %}</title>
{% endblock %}
{% block meta-tags %}
<meta name="description" content="{% trans 'Woo Club Shoppable video connects video action to fantastic products at great prices, AND rewards members for Tagging and sharing with friends and followers.' %} ">
{% endblock %}

{% block content %}

    <div class="account-con">
        <div class="reset-top">
            <img src="{% static 'assets/images/reset-img.png' %}" width="335" height="245" title="{% trans 'Reset password' %}" alt="{% trans 'Reset password' %}">
        </div>
        <h2>{% trans 'Reset Password' %}</h2>
        <p>{% trans 'Set a new password for your account' %}</p>
        <form novalidate class="reset-form{% if form.errors|length > 0 %} form-errors{% endif %}" method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                {% if form.non_field_errors %}
                <div class="non-field-errors">
                    {% for err in form.non_field_errors %}
                    <p class="validation-error">{% trans err %}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{form.password}}
                {% if form.errors.password %} 
                    <label id="id_password-error" class="error pop-errors" for="id_password">
                        {% trans form.errors.password.0 %}
                    </label> 
                {% endif %}
            </div>
            <div class="form-group">    
                {{form.confirm_password}}
                {% if form.errors.confirm_password %} 
                    <label id="id_confirm_password-error" class="error pop-errors" for="id_confirm_password">
                        {% trans form.errors.confirm_password.0 %}
                    </label> 
                {% endif %}
            </div>
            <button class="green-button" title="{% trans 'Set Password' %}">{% trans 'Set Password' %}</button>
        </form>
    </div>
{% endblock %}